{% extends 'base.html' %}

{% block title %}
{{ agenda.nama_kegiatan }}
{% endblock %}

{% block content %}

<div class="container my-5">

    <a href="{% url 'daftar_agenda' %}"
       class="btn btn-maroon mb-4">

        ← Kembali

    </a>

    <div class="card card-dark border-0">

        {% if agenda.gambar %}

        <img
            src="{{ agenda.gambar.url }}"
            class="img-fluid rounded-4 detail-image"
            alt="{{ agenda.judul }}"
        >

        {% endif %}

        <div class="card-body">

            <h1 class="card-title">

                {{ agenda.nama_kegiatan }}

            </h1>

            <p class="section-subtitle">

                <strong>Tanggal:</strong>
                {{ agenda.tanggal }}

                |

                <strong>Waktu:</strong>
                {{ agenda.waktu }}

            </p>

            <p class="section-subtitle">

                <strong>Lokasi:</strong>
                {{ agenda.lokasi }}

            </p>

            <hr>

            <p>

                {{ agenda.deskripsi }}

            </p>

        </div>

    </div>

</div>

{% endblock %}