{% extends 'base.html' %}

{% block title %}
Pengurus
{% endblock %}

{% block content %}

<div class="container my-5">

    <div class="text-center mb-5">

        <h1 class="fw-bold">

            Struktur Pengurus

        </h1>

    </div>

    <h3 class="mb-4">

        Pengurus Inti

    </h3>

    <div class="row g-4 mb-5">

        {% for item in pengurus_inti %}

            {% include 'pengurus/card_pengurus.html' %}

        {% empty %}

            <div class="col-12">

                <div class="alert alert-warning">

                    Belum ada pengurus inti.

                </div>

            </div>

        {% endfor %}

    </div>

    {% for div in divisi %}

        <h3 class="mb-4">

            Divisi {{ div.nama }}

        </h3>

        <div class="row g-4 mb-5">

            {% for item in div.pengurus_set.all %}

                {% include 'pengurus/card_pengurus.html' %}

            {% empty %}

                <div class="col-12">

                    <div class="alert alert-warning">

                        Belum ada anggota divisi.

                    </div>

                </div>

            {% endfor %}

        </div>

    {% endfor %}

</div>

{% endblock %}