{% extends 'base.html' %}

{% block title %}
{{ galeri.judul }}
{% endblock %}

{% block content %}

<div class="container my-5">

    <a href="{% url 'daftar_galeri' %}"
       class="btn btn-maroon mb-4">

        ← Kembali

    </a>

    <div class="card card-dark border-0">

        <img
            src="{{ galeri.gambar.url }}"
            class="img-fluid rounded-4 detail-image"
            alt="{{ galeri.judul }}"
        >

        <div class="card-body">

            <h1>

                {{ galeri.judul }}

            </h1>

            <p class="section-subtitle">

                {{ galeri.tanggal }}

            </p>

            <hr>

            <p>

                {{ galeri.deskripsi }}

            </p>

        </div>

    </div>

</div>

{% endblock %}