{% extends 'base.html' %}

{% block title %}
{{ galeri.judul }}
{% endblock %}

{% block content %}

<div class="container my-5">

    <a href="{% url 'daftar_galeri' %}"
       class="btn btn-secondary mb-4">

        ← Kembali

    </a>

    <div class="card shadow">

        <img src="{{ galeri.gambar.url }}"
             class="card-img-top">

        <div class="card-body">

            <h1>

                {{ galeri.judul }}

            </h1>

            <p class="text-muted">

                {{ galeri.tanggal }}

            </p>

            <hr>

            <p>

                {{ galeri.deskripsi }}

            </p>

        </div>

    </div>

</div>

{% endblock %}